<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人博客</title>
    <meta name="keywords" content="个人博客模板,博客模板" />
    <meta name="description" content="寻梦主题的个人博客模板，优雅、稳重、大气,低调。" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/PC/login/js/jquery-2.1.3.min.js"></script>
    <script src="/static/PC/login/js/login.js"></script>
    <script src="/static/PC/login/js/register.js"></script>
    <script src="/static/PC/login/js/reset.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        <a href="{:url('/index/index/index')}"><span>首页</span><span class="en">Protal</span></a>
        <!--<a href="about.html"><span>关于我</span><span class="en">About</span></a>-->
        <!--<a href="newlist.html"><span>慢生活</span><span class="en">Life</span></a>-->
        <!--<a href="moodlist.html"><span>碎言碎语</span><span class="en">Doing</span></a>-->
        <!--<a href="share.html"><span>模板分享</span><span class="en">Share</span></a>-->

        {notempty name="member"}
        <!--已登录-start-->
        <div class="info-top">
            <div class="user-info clearfix">
                <img class="fl user-info-img" src="/static/PC/image/default_avatar_128_128.jpg">
                <div class="fl user-info-text">
                    <div class="user-name over-hide">{$member.user_nickname}
                    </div>
                </div>
            </div>
        <!--已登录-end-->
        {else}
        <!--未登录-start-->
        <a href="{:url('/index.php/member/member/login')}"><span>登录</span><span class="en">Login</span></a>
        <a href="{:url('/index.php/member/member/register')}"><span>注册</span><span class="en">Register</span></a></nav>

        <!--未登录-end-->

        {/notempty}

    </nav>
</header>
<div class="banner">
    <section class="box">
        <ul class="texts">
            <p>打了死结的青春，捆死一颗苍白绝望的灵魂。</p>
            <p>为自己掘一个坟墓来葬心，红尘一梦，不再追寻。</p>
            <p>加了锁的青春，不会再因谁而推开心门。</p>
        </ul>
        <div class="avatar"><a href="#"><span>坤哥</span></a> </div>
    </section>
</div>