<!DOCTYPE html>
<html>
<head>{include file="common@common/common"}</head>
<body>
{include file="common@common/head"}
{include file="common@common/toasttips"}
<extend name="Base/yx-common"/>
<block name="body">
    <link href="__CSS__/common.css" type="text/css" rel="stylesheet">
    <link href="__CSS__/User_backpack.css" type="text/css" rel="stylesheet">
    <link href="__CSS__/goods_details.css" type="text/css" rel="stylesheet">
    <link href="__CSS__/lease.css" type="text/css" rel="stylesheet">
    <div class="cont-wrapper {$game_name}">
        <div class="lease-box clearfix bc">
            <!-- 详情页 公用头部--start-->
            {include file="index@lease/details-header"}
            <!-- 详情页 公用头部--end-->
            <div class="d-goods-other">
                <div class="d-goods-title">
                    <div class="menu-tab-btn">
                        <a class="backpack-menu-btn active" href="javascript:">出租商品</a>
                        <a class="backpack-menu-btn" href="/index.php/index/lease/echarts/info/{$info.goods_id}">价格走势</a>
                        <a class="backpack-menu-btn" href="/index.php/index/lease/history/info/{$info.goods_id}">出租历史</a>
                    </div>
                </div>
                <div class="good-other-onsell">
                    <span class="fl">商品</span>
                    <!-- <span class="fl">卖家</span> -->
                    <span class="fl">价格</span>
                    <span class="fl">操作</span>
                </div>
                <ul class="d-goods-other-list">
                    {volist name="data" id="vo"}
                        <li class="clearfix" data-id="{$vo.goods_id}" data-leaseid="{$vo.id}">
                            <a class="fl g-other-img-wrap" target="_blank" style="background-image: url(__IMG__/goods-del-bg.png);">
                                <div class="g-other-img">
                                    <img src="{$vo.goods_image_url}" alt="" class="goods-info-img">
                                </div>
                            </a>
                            <div class="fl g-other-faname">
                                <div class="over-hide">{$vo.goods_name}</div>
                            </div>
                           <!--  <div class="fl g-other-fatime">
                                <time class="fl g-other-time">
                                    <span class="fl dashang-icon-wrap">
                                        <img class="user-head" src="{$vo.uid|avatar}">
                                    </span>
                                    <a class="fl over-hide" href="javascript:">用户名称</a>
                                    <span class="fl ds-icon-box">
                                        <img class="dashang-icon" src="__IMG__/ds_icon.png" alt="PY认证大商"></if>
                                    </span>
                                </time>
                            </div> -->
                            <div class="fl g-other-faprice" style="margin-left: 20px;">￥{$vo.lease_price}</div>
                            {if condition = " :is_login()"}
                               <a class="fl g-other-buy" data-id="{$vo.id}" href="javascript:" style="margin-left: 40px;">租赁</a>
                            {else}
                                 <a class="fl g-other-buy"
                            href="{:getLogin()}"  target="_blank">租赁</a>
                            {/if} 
                        </li>
                    {/volist}
                </ul>
                <div class="virtual-more  bc">
                    {$page}
                </div>
            </div>
        </div>
        <!-- 详情页 公用右侧推荐面板--start-->
        {include file="index@lease/right-panel"}
        <!-- 详情页 公用右侧推荐面板--end-->
    </div>
    </div>
    <!-- 租赁支付-model--start-->
    <div class="lease-model">
        <div class="lease-model-title">确认租</div>
        <div class="lease-model-body clearfix">
            <div class="fl body-left">
                <div class="body-left-item clearfix">
                    <span class="fl item-label">支付密码:</span>
                    <input class="fl zf-password" type="password" placeholder="请输入支付密码">
                </div>
                <div class="body-left-item clearfix">
                    <span class="fl item-label">租赁天数:</span>
                    <div class="fl select-box">
                        <div class="select-btn">10天(10%)￥<span class="lease_price_10day">0.00</span></div>
                        <div class="select-list">
                            <div data-day="5">5天(6%)￥<span class="lease_price_5day">0.00</span></div>
                            <div data-day="10">10天(10%)￥<span class="lease_price_10day">0.00</span></div>
                            <!-- <div data-day="15">15天(15.6%)￥<span class="lease_price_15day">0.00</span></div> -->
                            <!-- <div data-day="30">30天(21.5%)￥<span class="lease_price_30day">0.00</span></div> -->
                        </div>
                        <input id="lease_day" type="hidden" value="10">
                    </div>
                </div>
                <input type="hidden" value="" id="h-money">
                <a class="lease-submit-btn" data-id="" href="javascript:">确认租赁</a>
            </div>
            <div class="fr body-right">
                <div class="body-right-item">
                    <div class="item clearfix">
                        <div class="fl item-label">账户余额:</div>
                        <div class="fl item-price over-hide">￥{$info.balance}</div>
                    </div>
                    <div class="item clearfix">
                        <div class="fl item-label">参考价格:</div>
                        <div class="fl item-price over-hide" style="color: #c31f1f;">￥{$info.goods_market_price}</div>
                    </div>
                    <div class="item clearfix">
                        <div class="fl item-label">押金:</div>
                        <div class="fl item-price over-hide" style="color: #117f1c;">￥<span id="lease_money">0.00</span></div>
                    </div>
                    <div class="item clearfix">
                        <div class="fl item-label">租金:</div>
                        <div class="fl item-price over-hide" style="color: #117f1c;">￥<span id="lease_price">0.00</span></div>
                    </div>
                    <div class="item clearfix">
                        <div class="fl item-label">合计:</div>
                        <div class="fl item-price over-hide" style="color: #c31f1f;">￥<span id="pay_money">0.00</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lease-mask"></div>
    <!-- 租赁支付-model--end-->
    <script src="__JS__/lease.js"></script>
    <script>
        $(function () {
            window.ImgequestRead = "https://steamcommunity-a.akamaihd.net/economy/image/";
            //商品图片滑过请求商品详情面板
            var goodsInfoPanel = true;
            var timer;
            $('.d-goods-other-list').on('mouseover', '.goods-info-img', function (e) {
                var _that = $(this);
                var goodsId = $(this).parents('li').attr('data-id');
                $(this).parents('li').siblings('li').find('.backpack-goods-modal').css('display', 'none');
                timer = setTimeout(function () {
                    if (_that.siblings('.backpack-goods-modal').css('display')) {
                        _that.siblings('.backpack-goods-modal').css('display', 'block');
                    } else {
                        if (goodsInfoPanel) {
                            goodsInfoPanel = false;
                            $.ajax({
                                type: 'get',
                                url: '/index.php/goods/content/getContent',
                                data: {'id': goodsId},
                                success: function (a) {
                                    if (a) {
                                        var d = JSON.parse(a);
                                        var goodsInfo = d.descriptions;
                                        var tags = d.tags;
                                        var html = '';
                                        var tagsHtml = '';
                                        if (goodsInfo) {
                                            for (var g = 0; g < goodsInfo.length; g++) {
                                                if (goodsInfo[g].value != ' ') {
                                                    html += '<div style="color:#' + goodsInfo[g].color + ';">' + goodsInfo[g].value + '</div>'
                                                }
                                            }
                                        }
                                        if (tags) {
                                            for (var s = 0; s < tags.length; s++) {
                                                tagsHtml += '<span style="color: #' + tags[s].color + ';">' + tags[s].localized_tag_name + '</span>'
                                            }
                                        }
                                        _that.parent().append('<div class="backpack-goods-modal" style="text-align: center;line-height: 16px;">' +
                                            '<img class="g-info-img" src="' + window.ImgequestRead + d.icon_url + '">' +
                                            '<div class="g-info-name" style="color:#' + d.name_color + ';">' + d.name + '</div>' +
                                            '<div class="g-info-type">' + d.type + '</div>' +
                                            '<div class="g-info-price"><span class="tip">市场参考价:</span><span class="number">' + $("#market_price").html() + '</span></div>' +
                                            '<div class="g-info-tags">标签:' + tagsHtml + '</div>' +
                                            '<div class="g-info-list">' + html + '</div>' +
                                            '</div>' +
                                            '</li>');

                                        var t = _that.siblings(".backpack-goods-modal");
                                        t.css("display", "block");
                                        var s = $("body").width()
                                            , e = t.width();
                                        s - _that.offset().left - _that.width() <= e + 50 ? t.addClass("left") : t.addClass("right");
                                    }
                                    _that.siblings('.backpack-goods-modal').css('display', 'block');
                                    goodsInfoPanel = true;
                                },
                                error: function () {

                                }
                            })
                        }

                    }

                }, 200);
            });
            //商品详情面板隐藏
            $('.d-goods-other-list').on('mouseout', '.goods-info-img', function () {
                clearTimeout(timer);
                $(this).siblings('.backpack-goods-modal').css('display', 'none');
            });
        })
    </script>
</block>
{include file="common@common/foot"}
</body>