<style type="text/css">
	label.control-label {
		width: 80px;
	}
    .bjui-pageFooter > ul > li{ display: inline-block;float:none;text-align:center}
    .bjui-pageFooter > ul{ text-align: center }
</style>

<div class="bjui-pageContent">
	<form action="{:url('Config/add')}" method="post" data-toggle="ajaxform" >
        
        <!-- <input type = "hidden" name = 'pid'  value="{$Request.param.id}"/> -->
		<table class="table-bordered table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								配置名称：
							</label>
						<input type="text" name="conf_name"  value="">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								配置内容：
							</label>
						<input type="text" name="conf_content"  value="">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								配置类型：
						</label>
						<select name="field_type" class="field">
							<option>请选择一个类型</option>
							<option value="text">TEXT</option>
							<option value="radio">单选</option>
							<option value="textarea">文本域</option>
						</select>
					</td>
				</tr>
				<!-- <tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								菜单图标：
							</label>
							
						<input type="text" name="ico"  value=""><a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">图标参照</a>
					</td>
				</tr> -->


 
			</tbody>
		</table>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="submit" class="but btn-blue" data-icon="save">保存</button></li>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
	</ul>
</div>
</form>