<style type="text/css">
   .tableContent form table  thead tr th{background:#1078C1;color:#fff;}
   .bjui-pageHeader {padding:0px 5px;}
</style>

<!--排序请求链接-->
<!-- <div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch" action="{:url('Nav/index')}" method="get">
	</form>
	
</div> -->

<div class="bjui-pageContent tableContent">
	<!-- <form name="changeform" data-toggle="ajaxform" action="{:url('Config/save')}" method="post"></form> -->
		<table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
			<thead>
				<tr style="height: 36px; line-height: 36px;">
					<th width="50">ID</th>
					<th data-order-field="sort" width="50">排序</th>
					<th >配置名称</th>
					<th >配置名称</th>
					<th >配置内容</th>
					<th >规则描述</th>
					<th >配置类型</th>
					<th >配置</th>
					<th >操作
                    &nbsp;&nbsp;&nbsp;&nbsp;<a  href="{:url('Config/add')}" 
					data-toggle="dialog" class="btn btn-green"
					data-id="Nav_add" data-mask="true"
					data-reload="true" data-width="400"
					data-height="220" 
                    data-on-close="refresh">添加配置项目</a>
                    </th>
				</tr>
			</thead>
			<tbody>

				{volist name="data" id="v" }
				<tr data-id="{$v.conf_title}">
					
					<td>
						<input type="text" class="ids" name="conf_id" value="{$v.conf_id}" style="width:100%" disabled />
					</td>
					<td>
						<input type="text" class="ids" name="conf_order" value="{$v.conf_order}" style="width:100%" />
					</td>
					<td>
						<input type="text" class="ids" name="conf_title" value="{$v.conf_title}" style="width:100%" />
					</td>
					<td>
						<input type="text" class="ids" name="conf_name" value="{$v.conf_name}" style="width:100%" />
					</td>
					<td>
						<input type="text" class="ids" name="conf_content" value="{$v.conf_content}" style="width:100%" />
					</td>
					<td>
						<input type="text" class="ids" name="conf_tips" value="{$v.conf_tips}" style="width:100%" />
					</td>
					<td>
						<input type="text" class="ids" name="field_type" value="{$v.field_type}" style="width:100%" />
					</td>
					<td class="changetype" type="{$v.field_type}" v="{$v.field_value}" t="{$v.conf_tips}">
						<!-- <input type="text" class="ids" name="field_value" placeholder="{$v.field_value}" style="width:100%" /> -->
					</td>
					<td>
					
					   <a href="{:url('Config/save',['id' => $v.conf_id])}" class="btn btn-green" 
						data-toggle="dialog"
						data-id="Config_save" data-mask="true"
						data-reload="true" data-width="400"
						data-height="220" 
	                    data-on-close="refresh">修改
	                   </a>


						<a href="{:url('Config/delete', ['id' => $v.conf_id])}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="永久删除，确定要删除吗？">删除</a>
					</td>
				</tr>
				{/volist}
				
			</tbody>
		</table>
	<!-- </form> -->
</div>
<script>
	$('.changetype').each(function () {
		var ip = $(this);
		switch (ip.attr('type')) {
			case 'text':
				ip.html('<input type="text" name="field_value" value=' + ip.attr('v') + '>');
				break;
			case 'textarea':
				ip.html('<input type="textarea" name="field_value" value=' + ip.attr('v') + '>');
				break;
			case 'radio':
				var s = ip.attr('t').split(',');
				var inp = '';
				for (var a = 0; a < s.length; a++) {
					var m = s[a].split('|');
					if (m['0'] == ip.attr('v')) {
						inp += '<input type="radio" checked  value=' + m['0'] + '>' + m['1'];
					} else {
						inp += '<input type="radio"  value=' + m['0'] + '>' + m['1'];
					}
				}
				ip.html(inp);
				break;
			default:
				ip.html('请按照规则填写项目');
				break;
		}
		// $(this).html($(this).attr('type'));
	});
</script>
<!-- <div class="bjui-pageFooter">
	<button type="submit" class="btn-blue" data-icon="refresh" style="float:left">
		更新排序
	</button>
</div> -->