<style type="text/css">
	label.control-label {
		width: 80px;
	}
    .bjui-pageFooter > ul > li{ display: inline-block;float:none;text-align:center}
    .bjui-pageFooter > ul{ text-align: center }
</style>

<div class="bjui-pageContent">
	<form action="{:url('Config/save')}" method="post" data-toggle="ajaxform"  >
        <input type = "hidden" name = 'conf_id'  value="{$data.conf_id}"/>
		<table class="table-bordered table-condensed table-hover" width="100%">
			<tbody>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								菜单名称：
							</label>
						<input type="text" name="conf_name"  value="{$data.conf_name}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								菜单链接：
							</label>
						<input type="text" name="conf_title" value="{$data.conf_title}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
							菜单别名：
						</label>
						<input type="text" name="conf_content" value="{$data.conf_content}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
							菜单别名：
						</label>
						<input type="text" name="conf_order" value="{$data.conf_order}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
							菜单别名：
						</label>
						<input type="text" name="field_type" value="{$data.field_type}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
							菜单别名：
						</label>
						<input type="text" name="conf_tips" value="{$data.conf_tips}">
					</td>
				</tr>
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
							菜单别名：
						</label>
						<input type="text" name="field_value" value="{$data.field_value}">
					</td>
				</tr>
				<!-- <tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
								菜单图标：
							</label>
						<input type="text" name="ico"  value="{$data.ico}"><a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">图标参照</a>
					</td>
				</tr> -->


 
			</tbody>
		</table>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="submit" class="but btn-blue" data-icon="save">保存</button></li>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
	</ul>
</div>
</form>