 <style type="text/css">
   .tableContent  table  thead tr th{background:#1078C1;color:#fff;}
   .bjui-pageHeader {padding:0px 5px;}
   .tableContent  table tr td{ height: 30px; }
</style>

<script type="text/javascript">
//查询收起
$.CurrentNavtab.find('#chaxun').on('click',function () {
  if($.CurrentNavtab.find(".bjui-moreSearch").css('display')=='block')
  $.CurrentNavtab.find(".showMoreSearch").trigger('click');
})

//导出excel
$.CurrentNavtab.find('#excel').on('click',function () {
    var url  = $(this).attr('data-url');
    window.open(url + "?"+ $.CurrentNavtab.find('#pagerForm').serialize() ) ;
})

 

</script>

<div class="bjui-pageHeader" >


	  <form id="pagerForm" data-toggle="ajaxsearch" action="{:url('order/bill')}" method="get">
    <div class="bjui-searchBar" style="margin-top:6px">

      <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom2"><i class="fa fa-angle-double-down"></i></button>
      <button type="submit" class="btn-default" data-icon="search" id="chaxun">查询</button>&nbsp;
      <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>&nbsp;&nbsp;
      <a class="btn btn-green"  data-icon="sign-out"  id="excel"  data-url= "{:url('excel/excel/bill')}" >导出excel</a>&nbsp;
      <div class="bjui-moreSearch">
        <table class="table table-condensed table-hover" width="100%">
          <tbody>
            <tr>
              <td>
                <label  class="control-label x85">开始时间：</label>
                <input type="text" name="starttime" value="{$starttime}" data-toggle="datepicker" data-rule="date" size="12">
              </td>
              <td>
                <label  class="control-label x85">结束时间：</label>
                <input type="text" name="endtime"  value="{$endtime}" data-toggle="datepicker" data-rule="date" size="12">
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label x85">用户昵称：</label>
                <input type="text" value="{$nickname}" name="nickname" class="form-control" size="12">&nbsp;
              </td>
              <td>
                <label class="control-label x85">订单号：</label>
                <input type="text" value="{$order_sn}" name="order_sn" class="form-control" size="12">&nbsp;
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </form>

</div>
<div class="bjui-pageContent tableContent" > 
	<table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
		<thead>
		<tr style="height:36px;line-height:36px;">

<!-- 			<th style="background:#1078C1;color:#fff;"  width="10">
				<input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck">
			</th> -->
	    <th  width="20">ID</th>
      <th  width="20">用户ID</th>
      <th  width="30">订单号</th>
			<th  width="20">用户昵称</th>
			<th  width="25">明细类型</th>
      <th  width="30">初始余额</th>
			<th  width="30">操作金额</th>
			<th  width="30">现在余额</th>
			<th  width="50" >创建时间</th>
		 <!-- 	<th  width="30">操作</th>  -->
		</tr>
		</thead>
		<tbody>
		   
				{foreach  name ='data' item='v' key='k'}
				<tr data-id="{$k}">
<!-- 					<td>
					<input type="checkbox" name="ids" data-toggle="icheck" value="{$v.id}">
					</td>	 -->
					<td>{$v.id}</td>
          <td>{$v.uid}</td>			
          <td>{$v.order_sn}</td>	
					<td>{$v.nickname}</td>
					<td>{$v.type_name}</td>
          <td>{$v.old_money}</td>
          <td>{php} echo  ($v['new_money']*100 - $v['old_money']*100)/100 {/php}</td>
          <td>{$v.new_money}</td> 
          <td>{$v.create_time|date='Y-m-d H:i:s',###}</td>
<!--           <td>
          <a href="" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确认拒绝提现吗？">拒绝提现</a>
          </td>  -->
				</tr>
				{/foreach}

		
		</tbody>
	</table>
</div>

<div class="bjui-pageFooter">
	<div class="pages">
		<span>每页&nbsp;</span>
		<div class="selectPagesize">
			<select data-toggle="selectpicker" data-toggle-change="changepagesize">
				   {foreach name="pagesizes" id="v"}
				   <option value="{$v}">{$v}</option>
				   {/foreach}
			</select>
		</div>
		<span>&nbsp;条，共 {$total} 条</span>
	</div>
	<div class="pagination-box" data-toggle="pagination" data-total="{$total}" data-page-size="{$pagesize}"  data-page-current="{$pageCurrent}">
	</div>
</div>