<!DOCTYPE html>
<html>
<head>{include file="common@common/common"}</head>
<body>
{include file="common@common/head"}
{include file="common@common/toasttips"}

<link href="__CSS__/roll_room.css" type="text/css" rel="stylesheet">
<link href="__CSS__/User_backpack.css" type="text/css" rel="stylesheet">
<link href="__CSS__/jedate.css" type="text/css" rel="stylesheet">

	<div class="cont-wrapper {$game_name}">
		<!--roll房间主体-->
		<div class="roll-main-content bc clearfix">
			<div class="roll-room-title">
				<div class="roll-room-person-info bc">
					<div class="bc">
						<img src="{$userPic}" />
					</div>
					<p>{$nickname}</p>
				</div>
				<div class="microblog-box">
					{if condition="empty($info['microblog']) neq true"}
						<p class="clearfix"><i class="fl icon iconfont">&#xe613;</i><a class="fl over-hide" href="{$info['microblog']}" target="_blank">{$info['microblog']}</a></p>
					{/if}
					{if condition="empty($info['live_telecast']) neq true"}
						<p class="clearfix"><i class="fl icon iconfont">&#xe718;</i><a class="fl over-hide"  href="{$info['live_telecast']}" target="_blank">{$info['live_telecast']}</a></p>
					{/if}
				</div>
			</div>

			<!--左侧房间管理部分-->
			<div class="roll-room-left fl">
				<div class="roll-hot-title">
					<input class="fl" type="button" value="ROLL活动" />
					<!-- JiaThis Button BEGIN -->
					<div class="jiathis_style" style="float: left;padding-left: 10px;padding-top: 15px;"><span class="jiathis_txt" style="color: #888;">分享到：</span>
					<a class="jiathis_button_weixin"></a>
					<a class="jiathis_button_tsina"></a>
					<a class="jiathis_button_cqq"></a>
					<a class="jiathis_button_tieba"></a>
					</div>
					<script type="text/javascript" >
					var jiathis_config={
						summary:"",
						shortUrl:false,
						hideMore:false
					}
					</script>
					<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
					<!-- JiaThis Button END -->
					{if  condition="$info['is_disable'] eq 1"}
						<input class="fr join-status" type="button" value="已被封禁"/>
					{elseif  condition="($info['status'] eq 0) or ($info['status'] eq 1)"/}
						<input class="fr" type="button" value="管理活动" id="activity-management" >
					{else}
						<input class="fr join-status" type="button" value="已经结束">
					{/if}

				</div>
				<div class="roll-room-activity-title">
					<p>活动说明</p>
				</div>
				<div class="roll-room-activity-detail">
					<p class="roll-room-activityId" style="display:none">{$info['id']}</p>
					<p>{$info['active_des']}</p>
					<p>活动时间：{$info['start_time']} 至 {$info['end_time']}</p>
				</div>
				<div class="roll-room-activity-title">
					{if condition="($info['is_disable'] eq 0) and ($info['status'] neq 2)"}
						<p>奖池<span>中奖人数</span><input class="winner-num" onKeyPress="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false" /><input type="button" value="抽奖" id="get-winner" />
						<span>*每次中奖人数最多5人,该活动已中奖人员不会再次中奖。</span></p>
					{/if}
				</div>
				<div class="roll-room-activity-goods">
					<div class="rollActivity_good">
						{if condition="empty($goods) neq true"}
							{foreach name="goods" item="v"}
								<div class="rollActivity_good_list" value="{$v['goods_id']}">
									<img goodId="{$v['goods_id']}" src="{$v['goods_image_url']}" />
									{if condition="($info['is_disable'] eq 0) and ($v['status'] eq 0)"}
										<i class="icon iconfont delete-icon">&#xe60b;</i>
										<img class="checked_gou" src="__IMG__/gou.png" />
									{/if}
									<div class="goods-mask" {if condition="$v['status'] neq 0"}style="display:block"{/if}></div>
								</div>
							{/foreach}
						{/if}
					</div>
					<div class="add-goods" {if condition="($info['status'] eq 2) or ($info['is_disable'] eq 1)"} style="display:none" {/if} >+</div>
				</div>
				<div class="roll-room-activity-title roll-room-jorw">
					<input class="active partNum" type="button" value="已参与({$partInfo['part_num']}人)" />
					<input class="winNum" type="button" value="已中奖({$info['win_num']}人)" />
				</div>
				<div class="roll-room-activity-perbox">
					<ul>
						{if condition="empty($partInfo['part']) neq true"}
							{foreach name="partInfo['part']" item="vo"}
								<li>
									<img src="{$vo['user_pic']}" />
									<p>{$vo['nickname']}</p>
								</li>
							{/foreach}
						{/if}
					</ul>
				</div>
				<div class="roll-room-activity-winbox">
					<!--获奖人员盒子-->
				</div>
			</div>

			<!--右侧往期获奖-->
			<div class="roll-room-right fr">
				<div class="roll-hot-title">
					<div class="text-wrap">
						<p class="text">往期获奖</p>
					</div>
				</div>
				<div>
					<ul class="winners-list-new">
						{if condition="empty($win) neq true"}
							{foreach name="win" item="val"}
								<li class="clearfix">
									<div class="fl winners-list-perinfo">
										<div class="fl winners-list-new-pic">
											<img src="{$val['user_pic']}" />
										</div>
										<div class="fl winners-list-new-info">
											<p class="over-hide">{$val['nickname']}</p>
											<p class="over-hide">{$val['time_inter']}获得了<span>1</span>件饰品</p>
										</div>
									</div>
									<div class="fr winners-list-goods">
										<img src="{$val['goods_image_url']}" />
									</div>
								</li>
							{/foreach}
						{/if}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--奖池选择-->
	{if condition="($info['is_disable'] eq 0) and ($info['status'] neq 2)"}
		<div class="roll-activity-goods-box">
			<div class="roll-activity-goods-title">
				<div class="clearfix">
					<span class="fl title-text">添加饰品</span>
					<div class="fl rooms-search-wrap">
						<input id="add-search-value" value="" placeholder="请输入物品名称"/>
						<i class="icon iconfont" id="add-goods-search">&#xe697;</i>
					</div>
				</div>

				<div class="room-game-select">
					<a class="active" data-type="csgo"><i class="icon iconfont">&#xe60f;</i>CS:GO</a>
					<a data-type="dota"><i class="icon iconfont">&#xe60d;</i>DOTA2</a>
					<a data-type="pubg"><i class="icon iconfont">&#xe605;</i>绝地求生</a>
					<a data-type="h1z1"><i class="icon iconfont">&#xe624;</i>H1Z1</a>
					<a data-type="steam"><i class="icon iconfont">&#xe621;</i>STEAM</a>
				</div>


			</div>

			<!--csgo或dota2添加奖池-->
			<div class="roll-activity-add-csgo">
				<!--添加奖品csgo筛选-->
				<div class="roll-activity-addcheck rollActivity-csgo">
					<div class="fl">
						<span><input class="roll-goods-csgo" type="checkbox" /></span>
						<a class="chose_all_csgo">全选</a>
						<a class="active toOrder-csgo">按时间</a>
						<a class="toOrder-csgo">按价格</a>
					</div>
					<div class="fr">
						<a class="active classify-csgo">全部</a>
						<a class="classify-csgo">手枪</a>
						<a class="classify-csgo">重型武器</a>
						<a class="classify-csgo">微型冲锋枪</a>
						<a class="classify-csgo">步枪</a>
						<a class="classify-csgo">匕首</a>
						<a class="classify-csgo">其他</a>
					</div>
				</div>
				<!--添加奖品DOTA2筛选-->
				<div class="roll-activity-addcheck rollActivity-dota">
					<div class="fl">
						<span><input class="roll-goods-dota" type="checkbox" /></span>
						<a class="chose_all_dota">全选</a>
						<a class="active toOrder-dota">按时间</a>
						<a class="toOrder-dota">按价格</a>
					</div>
					<div class="fr">
						<a class="active classify-dota">全部</a>
						<a class="classify-dota" name="23">力量</a>
						<a class="classify-dota" name="44">敏捷</a>
						<a class="classify-dota" name="45">智力</a>
					</div>
				</div>
				<!--添加奖品pubg筛选-->
				<div class="roll-activity-addcheck rollActivity-pubg">
					<div class="fl">
						<span><input class="roll-goods-pubg" type="checkbox" /></span>
						<a class="chose_all_pubg">全选</a>
						<a class="active toOrder-pubg">按时间</a>
						<a class="toOrder-pubg">按价格</a>
					</div>
					<div class="fr">
						<a class="active classify-pubg">全部</a>
						<a class="classify-pubg" name="197">头部</a>
						<a class="classify-pubg" name="198">眼部</a>
						<a class="classify-pubg" name="199">面具</a>
						<a class="classify-pubg" name="200">上身</a>
						<a class="classify-pubg" name="201">外套</a>
						<a class="classify-pubg" name="202">手部</a>
						<a class="classify-pubg" name="203">腿部</a>
						<a class="classify-pubg" name="204">鞋子</a>
					</div>
				</div>

				<!--添加奖品h1z1筛选-->
				<div class="roll-activity-addcheck rollActivity-h1z1">
					<div class="fl">
						<span><input class="roll-goods-h1z1" type="checkbox" /></span>
						<a class="chose_all_h1z1">全选</a>
						<a class="active toOrder-h1z1">按时间</a>
						<a class="toOrder-h1z1">按价格</a>
					</div>
					<!--<div class="fr">-->
						<!--<a class="active classify-h1z1">全部</a>-->
						<!--<a class="classify-h1z1" name="h1">h1</a>-->
						<!--<a class="classify-h1z1" name="h2">h2</a>-->
						<!--<a class="classify-h1z1" name="h3">h3</a>-->
						<!--<a class="classify-h1z1" name="h4">h4</a>-->
						<!--<a class="classify-h1z1" name="h5">h5</a>-->
						<!--<a class="classify-h1z1" name="h6">h6</a>-->
						<!--<a class="classify-h1z1" name="h7">h7</a>-->
						<!--<a class="classify-h1z1" name="h8">h8</a>-->
					<!--</div>-->
				</div>

				<!--添加奖品steam筛选-->
				<div class="roll-activity-addcheck rollActivity-steam">
					<div class="fl">
						<span><input class="roll-goods-steam" type="checkbox" /></span>
						<a class="chose_all_steam">全选</a>
						<a class="active toOrder-steam">按时间</a>
						<a class="toOrder-steam">按价格</a>
					</div>
					<!--<div class="fr">-->
						<!--<a class="active classify-steam">全部</a>-->
						<!--<a class="classify-steam" name="s1">s1</a>-->
						<!--<a class="classify-steam" name="s2">s2</a>-->
						<!--<a class="classify-steam" name="s3">s3</a>-->
						<!--<a class="classify-steam" name="s4">s4</a>-->
						<!--<a class="classify-steam" name="s5">s5</a>-->
						<!--<a class="classify-steam" name="s6">s6</a>-->
						<!--<a class="classify-steam" name="s7">s7</a>-->
						<!--<a class="classify-steam" name="s8">s8</a>-->
					<!--</div>-->
				</div>

				<div class="roll-activity-addgoodc-box bc">
					<include file="roll_goods_box"/>
				</div>
				<div class="roll-activity-addgood-foot bc">
					<p>1、当参与人数超过10人，您添加的饰品将无法取回。</p>
					<p>2、当活动时间结束时，系统将自动ROLL出剩余饰品。</p>
					<span><input id="agree-pytrade-csgo" type="checkbox" checked="checked" /></span><p>同意{:config('WEB_NAME')}活动协议</p>
					<input type="button" value="提交" id="roll-activity-add-csgo" />
				</div>
			</div>

			<i class="icon iconfont close-icon">&#xe60b;</i>
		</div>
	{/if}

	<!--活动管理-->
	<div class="creat-activity-box">
		<div class="creat-activity-content bc">
			<div class="creat-activity-title">管理活动</div>
			<p>活动说明</p>
			<textarea name="acticty_info" rows="6" cols="57"></textarea>
			<p>活动时间</p>
			<input name="start_time" id="mdateinfo1" class="fl" placeholder="开始日期" readonly /><span>至</span><input name="end_time" id="mdateinfo2" class="fr" placeholder="结束日期" readonly />
			<p>设置新密码<input type="checkbox" checked=false /></p>
			<input name="password" placeholder="" style="text-align: center;"/>
			<p>微博地址</p>
			<input name="wbaddress" placeholder="" />
			<p>直播地址</p>
			<input name="zbaddress" placeholder="" />
			<div class="roll-creat-tips">
				<p>小贴士：</p>
				<p>1、当参与人数大于等于10人后,您添加的饰品将不能收回</p>
				<p>2、如果您在活动时间内未送出所有饰品,系统将在截至时间自动送出剩余饰品</p>
				<p>3、不填写密码,密码不变。取消密码，请输入'qxmm'</p>
			</div>
			<div>
				<input type="button" value="修改" id="roll-change-btn" />
			</div>
		</div>
		<i class="icon iconfont close-icon">&#xe60b;</i>
	</div>

	<!--抽奖-->
	<div class="roll-lottery-draw">
		<div class="roll-lottery-draw-box">
			恭喜以下人员获得饰品！
		</div>
		<div class="roll-lottery-draw-win">
			<ul>
				<!--获奖人员盒子-->
			</ul>
		</div>
		<div class="roll-lottery-draw-btn">
			<input type="button" value="确定" />
		</div>
	</div>
	<!--遮罩-->
	<div class="roll-room-mask"></div>
	<style>
		.backpack-goods-modal{
			left:110px;
		}
		.backpack-goods-modal::after{
			left:-26px;
			border-color: transparent #333 transparent transparent ;
		}
		.backpack-goods-modal::before{
			left:-28px;
			border-color: transparent #ddd transparent transparent ;
		}
		.backpack-goods-modal .g-info-list div div{
			text-align: left;
		}
	</style>
	<script>
        $(function () {
            window.ImgequestRead = "https://steamcommunity-a.akamaihd.net/economy/image/";
            //商品图片滑过请求商品详情面板
            goodsDetailsPanel($('.roll-activity-addgoodc-box'),'.roll-activity-addgoodc-box-list');
            goodsDetailsPanel($('.rollActivity_good'),'.rollActivity_good_list');
            function goodsDetailsPanel(proxyDom,triggerDom){
                var goodsInfoPanel = true;
                var timer;
                proxyDom.on('mouseover',triggerDom,function (e) {
                    var _that = $(this);
                    var goodsId = $(this).attr('value');
                    $(this).siblings(triggerDom).find('.backpack-goods-modal').css('display','none');
                    timer = setTimeout(function () {
                        if(_that.find('.backpack-goods-modal').css('display')){
                            _that.find('.backpack-goods-modal').css('display','block');
                        }else{
                            if(goodsInfoPanel){
                                goodsInfoPanel = false;
                                $.ajax({
                                    type:'get',
                                     url: '/index.php/goods/content/getContent',
                                    data:{'id':goodsId},
                                    success:function (a) {
                                        if(a){
                                            var d = JSON.parse(a);
                                            var goodsInfo = d.descriptions;
                                            var tags = d.tags;
                                            var html = '';
                                            var tagsHtml = '';
                                            if(goodsInfo){
                                                for(var g = 0; g < goodsInfo.length; g++){
                                                    if(goodsInfo[g].value != ' '){
                                                        html += '<div style="color:#'+ goodsInfo[g].color +';">'+ goodsInfo[g].value +'</div>'
                                                    }
                                                }
                                            }
                                            if(tags){
                                                for(var s = 0;s < tags.length;s++){
                                                    tagsHtml += '<span style="color: #'+ tags[s].color +';">'+ tags[s].localized_tag_name +'</span>'
                                                }
                                            }
                                            _that.append('<div class="backpack-goods-modal" style="text-align: center;line-height: 16px;">' +
                                                '<img class="g-info-img" src="'+ window.ImgequestRead+d.icon_url +'">' +
                                                '<div class="g-info-name" style="color:#'+ d.name_color +';">'+ d.name +'</div>' +
                                                '<div class="g-info-type">'+ d.type +'</div>' +
                                                '<div class="g-info-price"><span class="tip">市场参考价:</span><span class="number">￥'+ d.price + '</span></div>' +
                                                '<div class="g-info-tags">标签:'+ tagsHtml +'</div>'+
                                                '<div class="g-info-list">'+ html +'</div>'+
                                                '</div>'+
                                                '</li>');

                                            var t = _that.find(".backpack-goods-modal");
                                            t.css("display", "block");
                                        }
                                        _that.find('.backpack-goods-modal').css('display','block');
                                        goodsInfoPanel = true;
                                    },
                                    error:function () {

                                    }
                                })
                            }

                        }

                    },200);
                });
                //商品详情面板隐藏
                proxyDom.on('mouseout',triggerDom,function () {
                    clearTimeout(timer);
                    $(this).children('.backpack-goods-modal').css('display','none');
                });
            }

        })
	</script>
<script src="__JS__/roll.js"></script>
<script src="__JS__/jedate.min.js"></script>
<script type="text/javascript">
		//实现日期选择联动
		var startchange = {
		    format: 'YYYY-MM-DD hh:mm:ss',
		    //festival:true,
		    minDate: $.nowDate({DD:0}), //最大日期
		    zIndex:4100,
		    choosefun: function(elem,datas){
		    	endchange.minDate = datas; //开始日选好后，重置结束日的最小日期

		    	var tempEnd = Date.parse(new Date(datas));
				tempEnd = tempEnd/1000+(5*24*3600);
		       	tempEnd=$.timeStampDate(tempEnd.toString(),1,'YYYY-MM-DD hh:mm:ss');
		        endchange.maxDate = tempEnd; //开始日选好后，重置结束日的最大日期
		        endDates();
		    }
		};
//		var endTimeval=$("#mdateinfo1").val();
		var endchange = {
		    format: 'YYYY-MM-DD hh:mm:ss',
		    //festival:true,
		    minDate: $.nowDate({DD:0}),
//		    maxDate:endTimeval,
		    zIndex:4100,
		    choosefun: function(elem,datas){
//		        endchange.minDate = datas; //将结束日的初始值设定为开始日的最大日期
		    }
		};
		//这里是日期联动的关键
		function endDates() {
		    //将结束日期的事件改成 false 即可
//		    end.trigger = true;
		    $("#mdateinfo2").jeDate(endchange);
		}
		$('#mdateinfo1').jeDate(startchange);
		$('#mdateinfo2').jeDate(endchange);
	</script>


<script  src = "__JS__/common.min.js"></script>
{include file="common@common/foot"}
</body>