<style type="text/css">
   .tableContent  table  thead tr th{background:#1078C1;color:#fff;}
</style>

<!--排序请求链接-->
<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch" action="{:url('Rule/index')}" method="get">
	</form>
	
</div>

<div class="bjui-pageContent tableContent">
	
		<table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
			<thead>
				<tr style="height: 36px; line-height: 36px;">
					<th data-order-field="id" width="50">ID</th>
					<th >权限名称</th>
					<th >权限链接</th>
					<th >操作
                    &nbsp;&nbsp;&nbsp;&nbsp;<a  href="{:url('Rule/add')}" 
					data-toggle="dialog" class="btn btn-green"
					data-id="Rule_add" data-mask="true"
					data-reload="true" data-width="400"
					data-height="220" 
                    data-on-close="refresh">添加权限</a>
                    </th>
				</tr>
			</thead>
			<tbody>

				{foreach  name ='data' item='v' key='k'}
				<tr data-id="{$k}">
					<td>{$v.id}</td>
					<td>{$v._name}</td>
				    <td>{$v.mca}</td>
					<td>
						<a href="{:url('Rule/add', ['id' => $v['id']])}" class="btn btn-orange" 
						data-toggle="dialog"
						data-id="Rule_add" data-mask="true"
						data-reload="true" data-width="400"
						data-height="220" 
	                    data-on-close="refresh">添加子权限
	                    </a>

					   <a href="{:url('Rule/save',['id' => $v['id']])}" class="btn btn-green" 
						data-toggle="dialog"
						data-id="Rule_save" data-mask="true"
						data-reload="true" data-width="400"
						data-height="220" 
	                    data-on-close="refresh">修改
	                   </a>


						<a href="{:url('Rule/delete', ['id' => $v['id']])}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="子导航也会永久删除，确定要删除吗？">删除</a>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	
</div>

