<style type="text/css">
	label.control-label {
		width: 80px;
	}
    .bjui-pageFooter > ul > li{ display: inline-block;float:none;text-align:center}
    .bjui-pageFooter > ul{ text-align: center }
</style>



					
<script type="text/javascript">

    function doc_upload_success(file, data) {

        var json = $.parseJSON(data)

        $(this).bjuiajax('ajaxDone', json)

        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {

            $('#doc_pic').val(json.filename)

            $('#doc_span_pic').html('<img src="'+ json.filename +'" width="300px"  style="margin-left:30px" >')

        }

    }

</script>



<div class="bjui-pageContent">
	<form action="{:url('adv/add')}" method="post"   data-toggle="validate">
        
		<table class="table-bordered table-condensed table-hover" width="100%">
			<tbody>


                 <tr>
					<td>
						<label for="j_custom_number" class="control-label x85" >
								所属分类：
							</label>
							 <select name='cid' data-toggle="selectpicker">
						         {volist name ='category' id = 'v'}
						         <option value ='{$v.id}' > {$v.title}</option>
						         {/volist}
					        </select>
					</td>
				</tr>
				 
       
				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85" >
								广告标题：
							</label>
						<input type="text" name="title" data-rule="required;length[1~255]">
					</td>
				</tr>

				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85" >
								链接地址：
							</label>
						<input type="text" name="url" data-rule="required;length[1~255]">
					</td>
				</tr>


				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85" >
								开始时间：
							</label>
						<input type="text" name="start_time" value="2018-01-22" data-toggle="datepicker" size="12" class="form-control" style="padding-right: 15px; width: 120px;">
					</td>
				</tr>


				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85" >
								结束时间：
							</label>
						<input type="text" name="end_time" value="2018-01-22" data-toggle="datepicker" size="12" class="form-control" style="padding-right: 15px; width: 120px;">
					</td>
				</tr>

				<tr>
					<td>
						<label for="j_custom_number" class="control-label x85">
						        链接图片：
							</label>
								<div style="display:inline-block; vertical-align:middle;">

								    <div id="doc_pic_up" data-toggle="upload" data-uploader="{:url('Common/uploadimg')}"

								        data-file-size-limit="1024000000"

								        data-file-type-exts="*.jpg;*.png;*.gif;*.mpg"

								        data-multi="true"

								        data-on-upload-success="doc_upload_success"

								        data-icon="cloud-upload"></div>

								    <input type="hidden" name="path" value="" id="doc_pic">

								</div>
                                <br/>
								<span id="doc_span_pic"></span>
					</td>
				</tr>



 
			</tbody>
		</table>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="submit" class="but btn-blue" data-icon="save">保存</button></li>
		<li><button type="button" class="btn-close" data-icon="close">取消</button></li>
	</ul>
</div>
</form>