<!DOCTYPE HTML>
<html>
<head>
{include file="common@common/common" /}
{include file="common@common/toasttips"}
<link rel="stylesheet" href="/static/PC/login/css/base.css">
<link rel="stylesheet" href="/static/PC/login/icon/iconfont.css">
<link rel="stylesheet" href="/static/PC/login/css/common.css">
<link rel="stylesheet" href="/static/PC/login/css/register.css">
    <script src="/static/PC/login/js/jquery-2.1.3.min.js"></script>

</head>

<div class="register-box">
    <div class="top-banner">
        <!--<a class="top-banner-img" href="#"><img src="/static/PC/image/new-logo.png" alt="PY交易站"></a>-->
        <p class="top-banner-tip">博客</p>
    </div>
    <div class="register-wrapper clearfix">
        <div class="fl info-box">
            <div class="register-tab clearfix">
                <div class="fl active">邮箱注册</div>
            </div>
            <div class="register-cont">
                <div class="email-wrapper" style="display:block;">
                    <!--邮箱注册表单--start-->
                    <form id="emailSubmit">
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe641;</i>
                            <input class="form-cont" type="text"  name ='email' placeholder="请输入邮箱">
                        </div>
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe615;</i>
                            <input class="form-cont" type="text" name="code" placeholder="请输入邮箱验证码">
                            <button class="email-btn">发送验证码</button>
                        </div>
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe608;</i>
                            <input class="form-cont" type="text" name="nickname" placeholder="请输入昵称">
                        </div>
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe6e6;</i>
                            <input class="form-cont" type="password"  name="password" placeholder="请输入密码">
                            <button type="button" class="toggle-password">show</button>
                        </div>
                        <button class="submit-btn" type="submit">注&nbsp;&nbsp;册</button>
                    </form>

                    <!--邮箱注册表单--end-->
                </div>
                <div class="phone-wrapper">
                    <!--手机注册表单--start-->
                    <form  id="mobileSubmit">
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe650;</i>
                            <input class="form-cont" type="text"  name="mobile" placeholder="手机号码">
                        </div>
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe615;</i>
                            <input class="form-cont" type="text" name="code"   placeholder="请输入手机验证码">
                            <button class="phone-btn">发送验证码</button>
                        </div>
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe608;</i>
                            <input class="form-cont" type="text" name="nickname" placeholder="请输入昵称">
                        </div>-
                        <div class="form-item">
                            <i class="form-icon icon iconfont">&#xe6e6;</i>
                            <input class="form-cont" type="password" name="password" placeholder="请输入密码">
                            <button type="button" class="toggle-password">show</button>
                        </div>
                         <button class="submit-btn" type="submit">注&nbsp;&nbsp;册</button>
                    </form>
                    <!--手机注册表单--end-->
                </div>
            </div>
        </div>
        <div class="fr right-box">
            <p class="tip">已有PY账号？</p>
            <a class="link" href="{:url('member/member/login')}">直接登录</a>
        </div>
    </div>
</div>
<script src="/static/PC/login/js/register.js"></script>
<script>
    window.writeCont = function (e,fn) {
        $(".toast-tip-content").html(e);
        $(".toast-tip-box").fadeIn(200);
        $('.toast-mask').fadeIn(200);
        if(!fn){return}
        $('body').on('click','#toast-tip-submit',fn)
    };
    $(function () {
        $("body").on("click", '#toast-tip-submit', function () {
            $('.toast-mask').fadeOut(100);
            $(".toast-tip-box").fadeOut(100);
        });
    });
</script>
</body>
</html>







