<!DOCTYPE html>
<html>
<head>{include file="common@common/common"}</head>
<body>
{include file="common@common/head"}
{include file="common@common/toasttips"}

<link href="__CSS__/common.css" type="text/css" rel="stylesheet">
<link href="__CSS__/csgo_index.css" type="text/css" rel="stylesheet">
<link href="__CSS__/User_backpack.css" type="text/css" rel="stylesheet">
<link href="__CSS__/goods_details.css" type="text/css" rel="stylesheet">
<link href="__CSS__/key_payment.css" type="text/css" rel="stylesheet">


	<div class="cont-wrapper {$game_name}">
		<div class="content bc clearfix">
		    <div class="d-goods-info-left fl">
		        <div class="d-goods-info clearfix">
		
		            <div class="fl d-info-img-wrap">
		                <div class="fl d-info-img">
		                        <img src="{$info['image']}" alt="" title="">
		                </div>
		            </div>
		
		            <div class="fr d-info-wrap">
		                <div class="d-g-name">{$info['name']}</div>
		                    
		                <div class="d-g-price">售价：
		                	<span id = "market_price">￥{$steamPrice}</span>【Steam售价：¥{$countSteamPrice}】</div>
		                <div class="d-g-sell-number">
		                    <span>累计出售：{$count} 件</span>
		                    <span>本周出售：{$num} 件</span>
		                </div>
		
		                <div class="d-g-operate" cate-id="{$cate_id}" bus-uid="{$info['bus_uid']}">
					        <a class="operate-btn3" id="batch_buy_btn" style="cursor: pointer;">购买</a>
		                </div>
		            </div>
		        </div>

    <div class="d-goods-wrap clearfix">
        <div class="d-goods-other fl">
            <div class="d-goods-title">
	            <div class="fl menu-tab-btn" id="goods-details-table">
				    <a id="goods-details-sell" class="backpack-menu-btn"
				       href ="" >在售商品</a>
				    <a id="goods-details-history" class="backpack-menu-btn active"
				       href="">成交历史</a>
				</div>
            </div>
            <div class="good-other-onsell">
                <span class="fl" style="width: 290px;">商品名称</span>
                <span class="fl">卖家</span>
                <span class="fl">商品总价</span>
                <span class="fl">成交时间</span>
            </div>

            <ul id="box-goods-details-sell" class="d-goods-other-list">
                {volist name="$data" id="vo"}
                    <li class="clearfix" data-id="{$vo['goods_ids']}" style="height:80px;border-bottom: 1px solid #ddd;">
                        <a class="fl g-other-img-wrap" target="_blank"
                           style="background-image: url(__IMG__/goods-del-bg.png);">
                            <div class="g-other-img">
                                <img src="{$info['image']}" alt="" class="goods-info-img">
                            </div>
                        </a>
                        <div class="fl g-other-faname">
                            <p class="over-hide" style="height: 60px;line-height: 60px;">{$vo['name']}</p>
                        </div>
                        <div class="fl g-other-fatime" style="margin-left: 0">

                            <time class="fl g-other-time">
                                {if condition="$vo['avatar'] neq ''"}
                                <img class="fl" src="/{$vo['avatar']}">
                                {else/}
                                <img class="fl" src="/static/PC/image/default_avatar_128_128.jpg">
                                {/if}
                                <a href="javascript:" class="fl over-hide" style="width: 110px;">{$vo['nickname']}</a>
                            </time>
                        </div>

                        <div class="fl g-other-faprice">￥{$vo['order_amount']}</div>
                        <div class="fl g-other-date">{$vo.pay_time|date="Y-m-d H:i:s",###}</div>
                    </li>
               {/volist}
            </ul>

                <!--<div class="virtual-more  bc">-->
                    <!--{$page}-->
                <!--</div>-->
    <!---->
        </div>


    </div>
    </div>
      {include file="index@cdkey/key_recommend"}
    </div>
    </div>
    </div>
    
    <div class="payment-key-type-cont">
    	<!--确认购买界面-->
    	<div class="payment-type-header">确认购买</div>
    	<div class="payment-content">
    		<!--提示内容-->
    	</div>
    	<div class="submit-box">
    		<input type="button" value="确定" id="nowbuy_btn" />
    	</div>
    </div>
	<div class="loading-mask" style="display: none;"></div>
    <script src="__JS__/common.min.js"></script>
   <script src="__JS__/key_bindingBuy.js"></script>
{include file="common@common/foot"}
</body>