<div class="d-goods-info-right fr">
    <h4 class="info-right-title">相关推荐</h4>
    <ul class="del-recommend-list">
    	<!--如果是单个游戏-->
        {volist name="dataInfo" id="vo"}
        {if condition="$vo.sum neq 0"}
            <li>
                <span style="display:none"> {$map['info'] = $vo.steam_game_id}</span>
                <a class="clearfix" href="{:url('cdkey/single_list',['steam_game_id'=>$vo.steam_game_id])}">

                    <div class="fl del-recommend-img-wrap" style="background-image: url(__IMG__/goods-del-bg.png)">
                        <div class="del-recommend-img">
                            <img style="max-width: 145%;margin-left: -25%;" src="https://cdn.steamstatic.com/steam/apps/{$vo.steam_game_id}/header.jpg" alt="{$vo['goods_name']}">
                        </div>
                    </div>
                    <div class="fl del-recommend-info">
                        <div class="name" style="width: 150px;overflow: hidden;">{$vo.game_name}</div>
                        <div class="price"><span>最低：</span><span style="color: #38f;">￥{$vo.key_price}</span></div>
                        <div class="number">{$vo.sum}件在售</div>
                    </div>
                </a>
            </li>
        {else /}
        {/if}


        {/volist}
        <!--如果是捆绑包-->
        {volist name="singleCateInfo" id="vi" key="ki"}
            {volist name="vi" id="vv"}
         <li>
            <span style="display:none"> {$map['info'] = $vv.id}</span>
            <a class="clearfix" href="{:url('cdkey/binding_list',['cate_id'=>$vv.id])}">
                <div class="fl del-recommend-img-wrap" style="background-image: url(__IMG__/goods-del-bg.png)">
                    <div class="del-recommend-img">
                        <img src="{$vv.image}" alt="{$vv.name}">
                    </div>
                </div>
                <div class="fl del-recommend-info">
                    <div class="name" style="width: 150px;overflow: hidden;">{$vv['name']}</div>
                    <div class="price"><span>最低：</span><span style="color: #38f;">￥{$vv.price}</span></div>
                    <div class="number">{$vv.total_num}件在售</div>
                </div>
            </a>
        </li>
        {/volist}
        {/volist}
    </ul>
</div>